.table {
    
    display: inline-block;
	vertical-align: top;
    margin: 5px;

}
.duplicate {
	float: left;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica;
    font-size: 11pt;
	white-space: nowrap;
}

div {
    height: 1em;
}