.table {
    
    display: inline-block;
    margin: 5px;
	white-space: nowrap;
}
.duplicate {
	float: left;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue';
    font-size: 11pt;
}

div {
    height: 1em;
}