<!doctype html> <!-- html5 -->
<html lang="en"> <!-- lang="xx" is allowed, but NO xmlns="http://www.w3.org/1999/xhtml", lang:xml="", and so on -->
<head>
<meta http-equiv="x-ua-compatible" content="IE=Edge"/> 
{% load staticfiles %}
{% load duplicate_extras %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
<div class="content">
<div>These are duplicates with coordinates that are  {% ifequal duplicate_group.kind "hundred_metres" %} within one {{duplicate_group.kind |  humanize}}. {%else %} exactly matched.{% endifequal %}</div>
<div></div>
{% ifequal duplicate_group.has_resolution "Y" %} <div>This set of duplicates has been determined to be resolved according to the details below.</div>
<div><table><tr><td>Permit deletion:</td><td><select><option value='Y'>Yes</option>
<option value='N' selected='selected'>No</option></select></td></tr><tr><td colspan='2'><input type="submit" value="Submit"></td></tr></table>

</div>

{%else%}<div> This set of duplicates has no determination </div>{%endifequal%}


<div></div>
<div></div>
<div></div>
<div class="duplicate">
  <div class="table header">
	  <div>Primary Key</div>
	  <div>Name</div>
	  <div>Entity Type</div>
	  <div>Longitude (x)</div>
	  <div>Latitude (y)</div>
	  <div>Height (z)</div>
	  <div></div>
	  <div>Well Type</div>
	  <div>Operator</div>
	  <div>Purpose</div>
	  <div>Status</div>
	  <div>Classification</div>
	  <div>Start Date</div>
	  <div>Completion Date</div>
	  <div>Originator</div>
	  <div>Total Depth</div>
	  <div></div>
	  <div>Number of Samples</div>
	  <div></div>
	  <div>Action Status</div>
	  <div>Move Data To</div>
	  
  </div>
  {%for duplicate in duplicate_entities%}
  
  <div class="table">
	  <div>{{duplicate.eno}}</div>
	  <div>{{duplicate.entityid}}</div>
	  <div>{{duplicate.entity_type}}</div>
	   <div>{{duplicate.x}}</div>
	    <div>{{duplicate.y}}</div>
		 <div>{{duplicate.z}}</div>
	  <div></div>
	  <div>{{duplicate.entity.well.welltype}}</div>
	  <div>{{duplicate.entity.well.operator}}</div>
	  <div>{{duplicate.entity.well.purpose}}</div>
	  <div>{{duplicate.entity.well.status}}</div>
	  <div>{{duplicate.entity.well.classification}}</div>
	  <div>{{duplicate.entity.well.start_date}}</div>
	  <div>{{duplicate.entity.well.completion_date}}</div>
	  <div>{{duplicate.entity.well.originator}}</div>
	  <div>{{duplicate.entity.well.total_depth}}</div>
	  <div></div>
	  <div>{{duplicate.entity.sample_set.count}}</div>
	  <div></div>
	  <div>{{duplicate.action_status}}</div>
	  <div>{{duplicate.data_transferred_to}}</div>
	  
	  
  </div>
{% endfor %}
</div>

</div>
</body>
</html>