{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<div class="duplicate">
  <div class="table header">
	  <div>Primary Key</div>
	  <div>Name</div>
	  <div>Entity Type</div>
	  <div>Well Type</div>
	  <div>Operator</div>
	  <div>Purpose</div>
	  <div>Status</div>
	  <div>Classification</div>
	  <div>Start Date</div>
	  <div>Completion Date</div>
	  
  </div>
  {%for duplicate in duplicate_entities%}
  <div class="table">
	  <div>{{duplicate.eno}}</div>
	  <div>{{duplicate.entityid}}</div>
	  <div>{{duplicate.entity_type}}</div>
	  <div>{{duplicate.well.welltype}}</div>
	  <div>{{duplicate.well.operator}}</div>
	  <div>{{duplicate.well.purpose}}</div>
	  <div>{{duplicate.well.status}}</div>
	  <div>{{duplicate.well.classification}}</div>
	  <div>{{duplicate.well.start_date}}</div>
	  <div>{{duplicate.well.completion_date}}</div>
	  
	  
  </div>
{% endfor %}
</div>