<!doctype html> <!-- html5 -->
<html lang="en"> <!-- lang="xx" is allowed, but NO xmlns="http://www.w3.org/1999/xhtml", lang:xml="", and so on -->
<head>
<meta http-equiv="x-ua-compatible" content="IE=Edge"/> 
{% load staticfiles %}
{% load duplicate_extras %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
<div class="content">

<div></div>
<table style="text-align:center;">
	<tr>
		<th>Group ID</th>
		<th>Duplicate type</th>
		<th>Duplicates</th>
		<th>Wells</th>
		<th>Drillholes</th>
		<th></th>
	</tr>
	{% for duplicate in duplicate_groups %}
	<tr >
		<td >{{duplicate.pk}}</td>

		<td>{{duplicate.kind | titleize}}</td>
		<td>{{duplicate.duplicate_set.count}}</td>
		<td>{{duplicate.number_of_wells}}</td>
		<td>{{duplicate.number_of_drillholes}}</td>
		<td><a href="/data_manager/{{duplicate.id}}"> {% ifequal duplicate.has_resolution "Y" %} Automatically resolution available {% else %} Cannot be automatically resolved {% endifequal%} </a></td>
	</tr>
	{% endfor %}	
</table>
<div class="pagination">
    <span class="step-links">
        {% if duplicate_groups.has_previous %}
            <a href="?page={{ duplicate_groups.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ duplicate_groups.number }} of {{ duplicate_groups.paginator.num_pages }}.
        </span>

        {% if duplicate_groups.has_next %}
            <a href="?page={{ duplicate_groups.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<div></div>
<div><form action="/data_manager">
<table>
<tr><th>Borehole name:</th><td><input id="name" name="name" type="text"></td>
<tr><th>Type:</th><td><select id='type' name='type'>
	<option value=''>All</option>
	<option value='exact'>Exact</option>
	<option value='hundred_metres'>Hundred metres</option>
	</select></td></tr>
<tr><th>Has resolution:</th><td><select id='has_resolution' name='has_resolution'>
	<option value=''>All</option>
	<option value='Y'>Yes</option>
	<option value='N'>No</option>
	</select></td></tr>
	</table>
	<input type="submit" value="Search">
	</form></div>
</div>


</body>
</html>